{% extends 'custom-admin/base.html' %}
{% load static %}
{% block content %}

<section class="manageActivitiesPage managepadding manageallpage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="topContent">
                    <h2 class="H2Heading">Change Password</h2>
                </div>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{message.tags}}{% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="lightCard">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row row-gap-4">
                            <div class="col-md-12">
                                <label class="inputLabel">Current Password</label>
                                <input type="password" name="current_password" class="customInput" required>
                            </div>

                            <div class="col-md-12">
                                <label class="inputLabel">New Password</label>
                                <input type="password" name="new_password" class="customInput" required>
                            </div>

                            <div class="col-md-12">
                                <label class="inputLabel">Confirm New Password</label>
                                <input type="password" name="confirm_password" class="customInput" required>
                            </div>

                            <div class="col-md-12">
                                <div class="w-25 ms-auto">
                                    <button type="submit" class="customButton">Change Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}